@font-face {
  font-family: 'SBAggro';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroLight.ttf')
      format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'SBAggro';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/sandbox/SBAggroMedium.ttf')
      format('truetype');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-scr p-4 flex flex-col min-h-screen h-full bg-secondary-100 items-center;
  }
}
